@{
    var isAuth = Context.User?.Identity?.IsAuthenticated ?? false;
    var name = Context.User?.Identity?.Name ?? "Gäst";
}
<ul class="navbar-nav">
    @if (isAuth)
    {
        <li class="nav-item"><span class="nav-link">Hej @name</span></li>
        <li class="nav-item"><a class="nav-link" href="/account/logout">Logga ut</a></li>
    }
    else
    {
        <li class="nav-item"><a class="nav-link" href="/account/login">Logga in</a></li>
    }
</ul>
